body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
}

.img{
    width: 20%;
}

header {
    background: rgb(25, 109, 187);
    border-bottom: 5px solid rgb(219, 100, 3);
}

.box {
    position: relative;
    width: 920px;
    margin: 0 auto;
}

h1{
    margin: 0;
}

nav {
    position: absolute;
    top: 70px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: rgb(219, 100, 3);
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}
h1{
    margin: 0;
}
input.header-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    text-transform: uppercase;
    color: rgb(219, 100, 3);
    font-weight: bold;
    font-size: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}