main {
    margin: 65px auto 150px;
}
form {
    width: 450px; 
    padding: 15px ;
    text-align: center;
    border-radius: 10px; 
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(25, 109, 187);
  }
  h2{
    color: #FFFFFF;
    margin: 20px auto;
    color: rgb(219, 100, 3);
  }

  /* Estilo dos campos de input */
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="tel"] {
    width: 70%;
    padding: 10px;
    margin: 15px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  /* Estilo do botão de submit */
  input[type="submit"] { 
    margin: 15px auto; 
    width: 50%; 
    padding: 10px; 
    border-radius: 5px; 
    border: 1px solid #ccc; 
    background-color: rgb(219, 100, 3); 
    color: white; 
    cursor: pointer; 
  }

